@import '../../base.less';

@margin:        20px;
@gutter:        20px;
@line-height:   20px;

@height:        (@line-height + @margin * 2);
@height-phone:  (@height * 0.8888);

@height-compare-thead:  40px;

@width-filter:      9em;
@width-filter-focus:20em;