@import '../../base.less';

@margin:        20px;
@gutter:        20px;
@line-height:   20px;

@height:        (@line-height + @margin * 2);
@height-phone:  (@height * 0.75);

@height-compare-thead:  40px;

@width-filter:      9em;
@width-filter-focus:20em;

.table() {
    .row{
        .cell{
            flex:   1 0 40px;
            &:first-of-type{
                flex:       5 0 @ship-link-width;
                text-align: left;
                z-index:    -1;
                pointer-events: none;
            }
            &:nth-child(n+2){
                text-align: center;
                font-size:  14px;
                line-height:1.2em;
                .locale("en", {
                    font-size:  12px;
                });
            }
        }
    }

    .screen-t1({
        margin-left:    -20px;
        margin-right:   -20px;
    });
}