@import './_.less';

.component{
    .header{
        display:    none;
        position:   absolute;
        .main-sizing-position-reset();
        .main-sizing-padding();

        font-size:  14px;
        z-index:    1;
        top:        @height;
        height:     @height-compare-thead;
        line-height:@height-compare-thead;
        
        border-bottom:  1px solid @color-border;

        .screen-phone({
            top:    @height-phone;
        });

        &:after{
            content:    "";
            background: fade(@theme-bluegrey-900, 35%);
            position:   absolute;
            top:        0;
            bottom:     0;
            left:       0;
            right:      0;
            z-index:    -1;
        }
    }
}

.is-compare .component{
    .header{
        display:    block;
        // will-change:height;
        transform:  translateY(-1px);
        // pointer-events: all;
        // background-color: @color-border;
        animation:  ship-list-header-compare-header-enter @base-transition-duration @base-transition-timing-function;
        // animation-fill-mode: forwards;
        &:after{
            animation:  ship-list-header-compare-header-background-enter @base-transition-duration @base-transition-timing-function;
        }
        .wrapper{
            // opacity:    1;
            // transform:  translateY(0);
            animation:  ship-list-header-compare-header-wrapper-enter @base-transition-duration @base-transition-timing-function;
        }
    }
}

.is-compare.is-compare-leaving .component{
    .header{
        // height:     0;
        // transform:  none;
        pointer-events: none;
        transform:  translateY(-100%);
        &:after{
            opacity:    0;
            transform:  translateY(100%);
        }
        .wrapper{
            opacity:    0;
            transform:  translateY(50%);
        }
    }
}

@keyframes ship-list-header-compare-header-enter {
    0% {
        transform:  translateY(-100%);
    }
    100% {
        transform:  translateY(-1px);
    }
}

@keyframes ship-list-header-compare-header-background-enter {
    0% {
        opacity:    0;
        transform:  translateY(100%);
    }
    100% {
        opacity:    1;
        transform:  translateY(0);
    }
}

@keyframes ship-list-header-compare-header-wrapper-enter {
    0% {
        opacity:    0;
        transform:  translateY(50%);
    }
    100% {
        opacity:    1;
        transform:  translateY(0);
    }
}