@import './_.less';

.component{
    position:   relative;
    z-index:    2;
    .select{
        display:    none;
        position:   relative;
        overflow:   hidden;
        padding:    0 8px 0 @gutter;
        .select-select{
            position:   absolute;
            // top:        -2rem;
            bottom:     0;
            height:     100%;
            left:       0;
            right:      0;
            border:     0;
            appearance: none;
            opacity:    0;
            z-index:    2;
            width:      100%;
            display:    block;
            box-sizing: content-box;
        }
        &:after{
            @size:      4px;
            position:   absolute;
            content:    "";
            top:        50%;
            width:      0;
            height:     0;
            border:     @size solid transparent;
            border-top-color:   currentcolor;
            margin-top: (0 - @size / 3 * 2);
            margin-left:4px;
        }
    }

    .item{
        display:    inline-block;
        height:     (@height - 1);
        // color:      fade(@color-base, 50%);
        color:      @color-fade;
        border-bottom:  2px solid transparent;
        margin-left:    @gutter;
        &:hover{
            // color:  @color-base;
            color:  #fff;
        }
        &:active{
            color:  fade(#fff, 50%);
        }
        // & + .item{
        //     margin-left:    @gutter;
        // }
        &.on{
            color:  #fff;
            border-bottom-color: @color-base;
            pointer-events: none;
        }
    }

    .screen-tablet({
        .item{
            margin-left:1.5vw;
        }
    });

    .screen-phone({
        // border-left:    1px solid @color-border;
        height:         (@height-phone - 2);
        flex:           1 1 42%;
        &:before{
            content:    "";
            position:   absolute;
            top:        0;
            bottom:     0;
            left:       0;
            width:      1px;
            background: scrim-gradient(to bottom, fade(@color-border, 0%), @color-border);
        }
        .select{
            display:    block;
            padding-left:   @main-margin-phone;
        }
        .item{
            display:    none;
        }
    });
}

.is-filtering .component{
    transform:  translateX((@width-filter-focus - @width-filter));
    opacity:    0;
    pointer-events: none;
    .screen-phone({
        transform:  none;
    });
}