@import './_.less';

.component{
    position:   absolute;
    top:        0;
    bottom:     0;
    height:     100%;
    width:      100%;
    display:    none;
    .controls{
        position:   absolute;
        top:        50%;
        transform:  translateY(-50%);
        width:      100%;
    }
    .button{
        font-size:  14px;
        line-height:30px;
    }
}

.is-compare.is-compare-leaving .component,
.is-compare[data-compare-state="selecting"] .component{
    display:    block;
    transform:  translateY(2rem);
    opacity:    0;
    z-index:    -1;
    pointer-events: none;
}

.is-compare[data-compare-state="comparing"] .component{
    display:    block;
    transform:  none;
    opacity:    1;
    z-index:    5;
    pointer-events: all;
}