@import './_.less';

#main-mask .component{
    &:after{
        top:        (@height - 2);
        bottom:     auto;
        .screen-phone({
            top:    (@height-phone - 2);
        });
    }
}

.component > .wrapper{
    position:       relative;
    z-index:        5;

    // padding:        @margin 0;
    height:         @height;
    line-height:    @height;

    .screen-tablet({
        font-size:  14px;
    });
    .screen-phone({
        font-size:      16px;
        height:         @height-phone;
        line-height:    @height-phone;
    });

    & > .body{
        position:   relative;
        z-index:    2;
        height:     @height;
        padding-left:   @width-filter;
        .screen-phone({
            height:         @height-phone;
            padding-left:   0;
            display:        flex;
            flex-flow:      row nowrap;
            &:before{
                content:    "";
                display:    block;
                flex:       1 1 50%;
            }
        });
    }
}

.component.is-compare{
    // padding-bottom: @height-compare-thead;
    animation:  ship-list-header-compare-enter @base-transition-duration @base-transition-timing-function;
    animation-fill-mode: forwards;
    will-change:padding-bottom;
    &.is-compare-leaving{
        animation-name: ship-list-header-compare-leave;
    }
    // &:before{
    //     content:    "";
    //     position:   absolute;
    //     bottom:     -1px;
    //     height:     1px;
    //     background: @color-border;
    //     left:       @main-margin;
    //     right:      @main-margin;
    //     .screen-tablet({
    //         left:   @main-margin-tablet;
    //         right:  @main-margin-tablet;
    //     });
    //     .screen-phone({
    //         left:   @main-margin-phone;
    //         right:  @main-margin-phone;
    //     });
    // }
}

.component.is-compare-comparing{
    & > .wrapper{
        opacity:    0;
        transform:  translateY(-100%);
    }
}

@keyframes ship-list-header-compare-enter {
    0% {
        padding-bottom: 0;
    }
    100% {
        padding-bottom: (@height-compare-thead + 1);
    }
}

@keyframes ship-list-header-compare-leave {
    0% {
        padding-bottom: (@height-compare-thead + 1);
    }
    100% {
        padding-bottom: 0;
    }
}