@import './_.less';

.component{
    position:       relative;
    z-index:        5;

    // padding:        @margin 0;
    height:         @height;
    line-height:    @height;

    padding-left:   @width-filter;

    .screen-tablet({
        font-size:  14px;
    });
    .screen-phone({
        font-size:      16px;
        // padding-left:   50%;
        height:         @height-phone;
        line-height:    @height-phone;
        padding-left:   0;
        display:        flex;
        flex-flow:      row nowrap;
        &:before{
            content:    "";
            display:    block;
            flex:       1 1 50%;
        }
    });
}