@import './_.less';

.component{
    display:    flex;
    flex-flow:  row wrap;
    margin-right:-10px;
    padding:    5px 0 25px 0;

    // animation:  fadein-from-bottom 200ms ease-out;

    .item{
        flex:   1 0 175px;
        height: 40px;
        margin: 10px 10px 0 0;

        &.placeholder{
            margin-top: auto;
            height:     0;
        }

        &.is-selected{
            background: @color-accent;
        }
    }
}