@import './_.less';

.component{
    margin-top:     -20px;

    &.flex{
        .table();
        .row{
            padding:    5px 0;
            height:     (@ship-link-height + 10);
            &:before{
                transition: none;
            }
            .cell{
                &:nth-child(n+2){
                    line-height:1.2em;
                }
            }
            &:hover{
                background:     linear-gradient(to right, transparent, fade(#fff, 10%) 30px);
                .screen-tablet({
                    background: none;
                    &:before{
                        content:    "";
                        position:   absolute;
                        height:     (@ship-link-height + 10 - 2);
                        background: linear-gradient(to bottom, transparent, transparent 2px, fade(#fff, 10%) 2px);
                        left:       (0 - @main-margin-tablet);
                        right:      (0 - @main-margin-tablet);
                        margin-top: -1px;
                        z-index:    -1;
                    }
                });
            }
            .sku-webapp({
                cursor:     pointer;
            });
        }
        .row + .row{
            .screen-tablet({
                border-top-color:   transparent;
                &:before{
                    content:    "";
                    position:   absolute;
                    height:     1px;
                    background: @color-border;
                    left:       (0 - @main-margin-tablet);
                    right:      (0 - @main-margin-tablet);
                    margin-top: (0 - @ship-link-height / 2 - 5);
                }
                &:hover:before{
                    height:     (@ship-link-height + 10 - 2);
                    background: linear-gradient(to bottom, @color-border, @color-border 1px, transparent 1px, transparent 2px, fade(#fff, 10%) 2px);
                    margin-top: -1px;
                }
            });
        }
    }

    // ******************************************

    .screen-max({
        margin-left:    -10px;
        margin-right:   -10px;
    });

    .screen-t1({
        margin-left:    -30px;
        margin-right:   -25px;
    });

    .screen-tablet({
        margin-left:    (0 - @main-margin-tablet);
        margin-right:   (0 - @main-margin-tablet);
    });

    .screen-phone({
        margin-left:    (0 - @main-margin-phone);
        margin-right:   (0 - @main-margin-phone);
    });

    // ******************************************

    sup{
        padding-left: .1rem;
        position:   absolute;
        top:        auto;
        margin-top: .15rem;
        .screen-t1({
            font-size: 12px;
            transform: scale((10 / 12));
            transform-origin: 0% 100%;
        });
    }

    .stat-luck{
        padding-right: 1em;
    }

    .empty{
        font-size:  12px;
        color:      @color-fade;
    }

    // ******************************************

    .top-first, .top-second{
        &:before{
            @height:    (@ship-link-height + 2);
            content:    "";
            position:   absolute;
            top:        50%;
            margin-top: (0 - @height / 2);
            height:     @height;
            z-index:    -1;
            left:       1px;
            right:      1px;
        }
    }

    .top-first{
        color:      #fff;
        &:before{
            background:     fade(#fff, 20%);
            border:         1px solid fade(#fff, 15%);
        }
    }

    .top-second{
        color:      #fff;
        &:before{
            background:     fade(#fff, 7.5%);
            border:         1px solid fade(#fff, 10%);
        }
    }
}