@import './_.less';

.component{
    &.flex{
        .table();
        .row{
            padding:5px 0;
        }
        .cell{
            &:nth-child(n+2){
                height:     40px;
                line-height:40px;
            }
        }
        sup{
            padding-left: .25em;
            position:   absolute;
            top:        auto;
            margin-top: 1.25em;
        }
    }
}