@import './_.less';

.component{
    display:    block;
    line-height:20px;
    margin:     0;

    .code{
        font-size:  12px;
        margin-left:10px;
        font-weight:normal;
        color:      @base-color-fade;
    }
}