@import "../../_.less";

.component{
    margin-top:     30px;
    margin-right:   20px;
    .upgradability{
        margin:     0;
        display:    flex;
        flex-flow:  row nowrap;
        .des{
            display:    inline-block;
            display:    flex;
            flex-flow:  row nowrap;
            margin:     0;
            font-size:  inherit;
        }
        .subtitle{
            flex:       0;
            white-space:nowrap;
        }
        .equipment{
            @line-height:   16px;
            @icon-size:     34px;
            padding-left:   (@line-height + 6);
            margin-left:    18px;
            flex:           1;
            .icon{
                &:empty, &:before{
                    width:      @icon-size;
                    height:     @icon-size;
                    top:        ((@line-height - @icon-size) / 2);
                    left:       ((@line-height - @icon-size) / 2);
                }
            }
        }
        .default-star{
            margin-left:   .25em;
        }
    }
    .dayships,
    .resources{
        border-left:    25px solid transparent;
        border-top:     10px solid transparent;
        .screen-phone({
            border-left-width:  10px;
        });
    }
}