@import "../../_.less";

.component{
    display:    flex;
    flex-flow:  row wrap;
    margin-right: -20px;

    & > h2.title{
        flex:   none;
        width:  100%;
        margin-bottom:  (@infos-component-title-margin-bottom - 25);
    }

    & > .disabled{
        margin-top:     25px;
    }

    & > .flex-item{
        flex:           1 1 500px;
        &.placeholder{
            margin-top: auto;
            margin-bottom: auto;
            height:     0;
        }
    }
}