@import '~base.less';

.component {
    .header {
        line-height: unset;
        // padding: (@main-margin / 2) @main-margin;
    }
    .tabs {
        top: 0;
        margin-left: (0 - @main-margin);
        margin-right: (0 - @main-margin);
        // margin-bottom: @main-margin;
        & > .wrapper {
            margin-right: -10px;
            overflow: hidden;
        }
    }
    .tab {
        display: block;
        float: left;
        margin-right: 10px;
        padding: 0.2em 0.5em;
        font-size: smaller;
        line-height: 1.2em;
        text-shadow: 1px 1px 3px fade(#000, 75%);
        &.on {
            background: rgba(255, 255, 255, 0.2);
            color: #fff;
        }
    }
}
