{
    "extends": ["koot"],
    "globals": {
        "__DIST__": false,
        "__DEV__": false,
        "__CLIENT__": false,
        "__SERVER__": false,
        "__SPA__": false,
        "__ELECTRON__": false,
        "__REDUX_STATE__": false,
        "__PUBLIC__": false,
        "__CHANNEL__": false,
        "__BGIMG_LIST__": false,
        "__ICONSVG__": false,
        "_hmt": false,
        "__webpack_public_path__": true,
        "__SWIPER_CSS__": false,
        "Nedb": false,
        "ga": false,
        "__": false,
        "__SVG_SYMBOLS__": false
    },
    "settings": {
        "import/ignore": [
            "node_modules",
            "dist",
            "dist*"
        ]
    }
}
