@import '~base.less';

.component{
    position:   absolute;
    overflow:   hidden;
    left:       0;
    right:      0;
    padding:    0 @main-margin;
    z-index: 1;

    box-shadow: 0 10px 20px -10px fade(#000, 20%);
    
    transition: inherit;
    animation: fadein (@duration-main-transition * 1) ease-out;
    
    @supports(backdrop-filter: blur(20px)) {
        box-shadow: 0 10px 20px -10px fade(#000, 30%);
    }

    &.mod-transition-exit{
        transition-property: opacity;
        transition-duration: (@duration-main-transition * 1);
        transition-delay: 0s;
        opacity: 0;
    }

    // opacity:    0;
    // animation: 	fadein @duration-main-transition ease-out;
    // animation-fill-mode: both;

    .screen-tablet({
        padding-left:   @main-margin-tablet;
        padding-right:  @main-margin-tablet;
    });
    .screen-phone({
        padding-left:   @main-margin-phone;
        padding-right:  @main-margin-phone;
    });

    .bg-container{
        z-index:    -2;
        // right:      (0 - @main-margin) !important;
    }

    &:after{
        content:    "";
        position:   absolute;
        bottom:     1px;
        height:     1px;
        background: @color-border;
        left:       0;
        right:      0;
        // left:       @main-margin;
        // right:      @main-margin;
        // .screen-tablet({
        //     left:   @main-margin-tablet;
        //     right:  @main-margin-tablet;
        // });
        // .screen-phone({
        //     left:   @main-margin-phone;
        //     right:  @main-margin-phone;
        // });
    }

    // opacity: 0;
    // animation: fadein (@duration-main-transition * 1) ease-out;
    // animation-delay: 0.05s;
    // &.transition-appear,
    // &.transition-exit{
    //     transition-property: opacity;
    // }
    // &.transition-appear{
    //     opacity: 0.01;
    // }
    //     &.transition-appear-active{
    //         // animation: 	fadein (@duration-main-transition * 1) ease-out both;
    //         // animation-delay: 10ms;
    //         opacity: 1;
    //     }

    // &.transition-exit {
    //     opacity: 1;
    // }
    //     &.transition-exit-active {
    //         animation: fadeout (@duration-main-transition * 1) ease-out;
    //         opacity: 0.01;
    //     }
}
