@import '../../_.less';

.component {
    // margin-right:   -40px;
    // overflow:       hidden;
    // .subtitle{
    //     font-size:  16px;
    //     font-weight:400;
    //     color:      @color-fade;
    //     margin-top: 15px;
    // }
    // .group{
    //     float:      left;
    //     width:      50%;
    //     min-width:  290px;
    //     margin-right: 20px;
    //     border-right: 20px solid transparent;
    //     &.right{
    //         margin-right: -20px;
    //     }
    //     .screen-phone({
    //         margin-right:   0;
    //         border-right:   0;
    //         float:  none;
    //         width:  auto;
    //     });
    // }
    .link-equipment {
        .icon {
            margin-top: -3px;
        }
    }
}

.component-legend {
    display: block;
    margin: 20px 0;
    & > .wrapper {
        display: inline-block;
        padding: 16px 26px;
        position: relative;
        // border: 2px solid @color-border;
        // border-radius: 10px;
        .background(@color) {
            background: linear-gradient(
                to right,
                transparent,
                @color 26px,
                @color calc(100% - 26px),
                transparent
            );
        }
        .background(fade(#000, 25%));
        &::before,
        &::after {
            content: '';
            left: 0;
            right: 0;
            height: 2px;
            position: absolute;
            .background(fade(#fff, 25%));
        }
        &::before {
            top: 1px;
        }
        &::after {
            bottom: 1px;
        }
        .screen-phone(
            {display: block;margin: 0 13px;padding-left: 13px;padding-right: 13px;}
        );
    }
    .item[data-level] {
        font-size: 14px;
        color: @color-base-dimmed;
        margin: 0.5em 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.component-section {
    margin: 20px 0;
    & > .title {
        font-size: 1em;
        line-height: 1.5em;
        margin: 0 0 20px 0;
        font-style: italic;
    }
}
