@import '../base.less';

.hover() {
    &:after{
        content:    "";
        background: fade(#fff, 7.5%);
        position:   absolute;
        top:        -100vh;
        bottom:     -100vh;
        left:       0;
        right:      0;
        z-index:    -1;
    }
}

.component{
    overflow-y:     hidden;
    // .row + .row{
        // border-top: 1px solid @color-border;
    // }
    // .row{
    //     position:   relative;
    // }
    
    .cell{
        position:   relative;
    }

    .empty{
        font-size:  12px;
        color:      @color-fade;
    }

    .body{
        // overflow:   hidden;
        // margin-top:     -1px;
        .row{
            border-top: 1px solid @color-border;
        }
        .cell{
            .is-hover({
                .hover();
            });
        }
    }
}

html.is-hover .component{
    .body .row:first-child .cell.is-hover{
        .hover();
    }
}

.component.flex{
    display:    block;
    .row{
        display:    flex;
        flex-flow:  row nowrap;
        width:      100%;
        align-items:stretch;
    }
    .cell{
        display:    block;
        flex:       1 1 auto;
    }
}