@import '../../core-less/_include.less';

#bgimg{
    @list-height: 100px;

    position:   fixed;
    z-index:    1;

    top:        0;
    bottom:     0;
    left:       0;
    right:      0;

    .background-container{
        position:   absolute;
        z-index:    1;
        left:       0;
        right:      0;
        top:        0;
        bottom:     0;
    }

    .controls{
        display:    none;
        .back{
            position:   absolute;
            top:        20px;
            left:       20px;
            z-index:    10;
        }
    }

    .background-original{
        position:   absolute;
        z-index:    2;
        left:       0;
        right:      0;
        top:        20px;
        bottom:     (@list-height + 20);
        // opacity:    0;
        background: no-repeat 50% 38.2% / contain;
        // transform:  translateY(-4rem);
    }

    .list{
        position:   absolute;
        z-index:    2;
        left:       0;
        right:      0;
        bottom:     0;
        height:     @list-height;
        background: fade(#fff, 10%);
        // transform:  translateY(100%);
    }
}

.background-container{
    position:   relative;
    .background{
        background: no-repeat 50% 38.2% / cover;
        background-attachment: fixed;
        position:   absolute;
        top:        0;
        bottom:     0;
        left:       0;
        right:      0;
        // animation:  fadein 0.75s ease-out;
    }
}




body.is-ready.mode-bg{
	#nav{
        transform:  translateX(-100%);
        & > .background-container{
		    transform:  translateX(100%);
        }
	}
	#main{
        transform:  translateX(100%);
        & > .background-container{
		    transform:  translateX(-100%);
        }
	}
    #bgimg{
        .background-container{
            opacity:    0;
            transition-delay: (@base-transition-duration * 2);
            transition-duration: (@base-transition-duration * 4);
        }
        .controls{
            display:    block;
        }
        .background-original, .list{
            animation-duration: (@base-transition-duration * 2);
            animation-timing-function: ease-out;
            animation-delay: (@base-transition-duration * 3);
            animation-fill-mode: both;
        }
        .background-original{
            animation-name:  background-original-enter;
            @keyframes background-original-enter{
                0% {
                    opacity:    0;
                    transform:  translateY(-4rem);
                }
                100% {
                    opacity:    1;
                    transform:  none;
                }
            }
            // opacity:    1;
            // transform:  none;
            // transition-delay: (@base-transition-duration * 4);
            // transition-duration: (@base-transition-duration * 2);
        }
        .list{
            animation-name:  background-list-enter;
            @keyframes background-list-enter{
                0% {
                    transform:  translateY(100%);
                }
                100% {
                    transform:  none;
                }
            }
            // transform:  none;
            // transition-delay: (@base-transition-duration * 4);
            // transition-duration: (@base-transition-duration * 2);
        }
    }
}




body.is-ready.mode-bg.mode-bg-leaving{
	#nav, #main{
        &,
        & > .background-container{
		    transform: 	none;
            transition-delay: (@base-transition-duration * 4);
        }
	}
    #bgimg{
        .background-container{
            opacity:    1;
            transition-delay: (@base-transition-duration * 1);
            transition-duration: (@base-transition-duration * 3);
        }
        .background-original, .list{
            animation-delay: 0s;
        }
        .background-original{
            animation-name:  background-original-leave;
            @keyframes background-original-leave{
                0% {
                    opacity:    1;
                    transform:  none;
                }
                100% {
                    opacity:    0;
                    transform:  translateY(-4rem);
                }
            }
        }
        .list{
            animation-name:  background-list-leave;
            @keyframes background-list-leave{
                0% {
                    transform:  none;
                }
                100% {
                    transform:  translateY(100%);
                }
            }
        }
    }
}
