@import "./_.less";

.component{
    border: 1px solid @color-border;
    background: @color-black-fade-3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
    clear: both;
    display: inline-block;
    width: 100%;
    width: ~"calc(100% - 20px)";
    color: @color-alt;
    font-size: 14px;

    .bonus-item{
        display: block;
        padding: 10px 10px 5px 10px;
        & + .bonus-item{
            border-top: 1px solid @color-border;
        }
        &.bonus-note{
            padding-top: 5px;
        }
    }

    .ship-class{
        display: inline-block;
    }

    .ships{
        margin-right:   -7px;
        overflow:       hidden;
        .ship{
            float:      left;
            margin-right:7px;
            margin-bottom:5px;
        }
    }

    .bonus{
        overflow: hidden;
        margin-right: -7px;
        .title, .stat{
            float: left;
            margin-right: 7px;
        }
        // .title{
        //     color: @color-alt;
        // }
        .stat{
            margin-top: 1px;
        }
    }
}
