@import '../base.less';

.component{
}

.component.flex{
    display:    block;
    .row{
        display:    flex;
        flex-flow:  row nowrap;
        width:      100%;
    }
    .cell{
        display:    block;
        flex:       1 1 auto;
    }
}