@import "./_.less";

.component{
    max-width:  (150px * 5);
    .item{
        padding-right: 10px;
        margin-bottom: @gutter;
        // width:      100px;
        width:      20%;
        .type{
            font-size:  14px;
        }
        // .screen-max({
        //     width:  20%;
        // });
        .screen-phone({
            width:  33.3333%;
        });
        .screen-phone-small({
            width:  50%;
        });
        // &.disabled{
        //     opacity:    .4;
        // }
    }
}