@import './_.less';

.component{
    .checkbox{
        @border:    2px;
        @size:      (@size-checkbox + (@border * 2));
        display:    block;
        position:   absolute;
        width:      @size;
        height:     @size;
        border:     @border solid transparent;
        top:        50%;
        margin-top: (0 - @size / 2);
        // left:       (0 - @size-checkbox - 6);
        // top:        (-4px - @border);
        left:       (-10px - @border);
        z-index:    -100;
        opacity:    0;
        background: fade(#000, 35%);
        border-radius: 3px;
        @supports ( pointer-events: none ) {
            z-index:    100;
            pointer-events: none;
        }
        &:after, .icon{
            position:   absolute;
            top:        0;
            left:       0;
            width:      @size-checkbox;
            height:     @size-checkbox;
        }
        // &:before, &:after{
        //     content:    "";
        //     display:    block;
        //     overflow:   hidden;
        // }
        &:after{
            content:    "";
            display:    block;
            overflow:   hidden;
            // border:     1px solid @color-base;
            border:     1px solid @color-base-dimmed;
            border-radius: 2px;
            background: fade(#000, 35%);
        }
        // &:before{
        //     top:        -2px;
        //     bottom:     -2px;
        //     left:       -2px;
        //     right:      -2px;
        //     position:   absolute;
        //     border-radius: 3px;
        // }
        .icon{
            z-index:    2;
            color:      @color-accent;
        }
    }
    .checkbox-show() {
        .checkbox{
            opacity:    1;
            z-index:    100;
            pointer-events: all;
            &:hover{
                opacity:    1;
                &:after{
                    border-color:   @color-accent;
                }
            }
        }
    }
    // .checkbox-checked() {
    //     .checkbox{
    //         &:after{
    //             background: #000;
    //         }
    //     }
    // }

    // &.is-selected{
        // background: @color-accent;
        // color:      #fff;
        // &:after{
        //     border:     1px solid @color-accent;
        //     background: fade(@color-accent, 50%);
        // }
        // .name-suffix{
        //     color:      inherit;
        //     transition: inherit;
        // }
        // .is-hover({
        //     &:after{
        //         background: fade(@color-accent, 50%);
        //     }
        // }; {
        //     &:after{
        //         background: fade(@color-accent, 35%);
        //     }
        // });
        // .checkbox-checked();
    // }

    &.is-compare,
    &.is-selected{
        .checkbox-show();
    }
    .is-hover({
        .checkbox-show();
    });
}