@import '../core-less/_include.less';

:active{
	transition-duration: (@base-transition-duration / 5);
}

// :focus:not(:active){
// 	transition-delay: @base-transition-duration;
// }

:first-child{
    margin-top: 0;
}
:last-child{
    margin-bottom: 0;
}

[disabled],
.disabled,
.disable,
.state-disabled,
.state-disable,
[state="disabled"],
[state="disable"],
.is-disabled,
.is-disable{
    cursor:     	default;
	pointer-events: none;
    opacity:    	.5;
}

.through,
.click-through{
	pointer-events: none;
}

.no-animation{
	animation-name: none !important;
}






button,
input,
optgroup,
option,
select,
textarea{
    font-family:    inherit;
}

a, button, .link{
	// &:active{
	// 	opacity: 	0.5;
	// }
}

a{
	text-decoration: none;
}

a, .link{
	color: 		@theme-lightblue-a200;
	&:hover{
		color: 	#fff;
	}
	&:active{
		color:  fade(#fff, 50%);
	}
}

hr, p{
	margin: 	1.25rem 0;
}

hr{
	border: 	0;
	background: @theme-bluegrey-300;
    background: fade(@theme-bluegrey-300, 50%);
	height: 	1.5px;
}



// Scrollbar
	::-webkit-scrollbar{
		width:      @scrollbar-width;
		// height:     @scrollbar-width;
	}
	::-webkit-scrollbar-button{
		//display:	none;
		// width: 		1px;
		height: 	1px;
		border: 	0;
		margin: 	0;
		padding: 	0;
		background: transparent;
	}
	::-webkit-scrollbar-track{
		//background:	rgba(0, 0, 0, .5);
		//@scrollbar-track-mask-image:	~"url(data:image/gif;base64,R0lGODlhAQABAPAAAAAAAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==)";
		//@scrollbar-track-mask-image:	linear-gradient(to bottom, #000, #000);
		//@scrollbar-track-mask-size:		~"2px calc(100% - 4px)";
		//@scrollbar-track-mask-position:	50% 50%;
		//.mask-image(~"@{scrollbar-track-mask-image}");
		//.mask-size(~"@{scrollbar-track-mask-size}");
		//.mask-position(~"@{scrollbar-track-mask-position}");
		//.mask-repeat(no-repeat);
		@scrollbar-track-background:	linear-gradient(
											to right,
											transparent 3px,
											rgba(0, 0, 0, .225) 3px,
											rgba(0, 0, 0, .225) ~"calc(100% - 3px)",
											transparent ~"calc(100% - 3px)"
										);
		background:		@scrollbar-track-background;
		border-radius:	32px;
		overflow:		hidden;
		&:hover{
			@scrollbar-track-background-hover:	linear-gradient(
													to right,
													transparent 2px,
													rgba(0, 0, 0, .375) 2px,
													rgba(0, 0, 0, .375) ~"calc(100% - 2px)",
													transparent ~"calc(100% - 2px)"
												);
			background:		@scrollbar-track-background-hover;
		}
	}
	::-webkit-scrollbar-thumb{
		//background:	#fff;
		@scrollbar-thumb-background:	linear-gradient(
											to right,
											transparent 2px,
											rgba(255, 255, 255, .425) 2px,
											rgba(255, 255, 255, .425) ~"calc(100% - 2px)",
											transparent ~"calc(100% - 2px)"
										);
		background:		@scrollbar-thumb-background;
		border-radius:	32px;
		overflow:		hidden;
		&:hover{
			@scrollbar-thumb-background:	linear-gradient(
												to right,
												transparent 2px,
												rgba(255, 255, 255, .625) 2px,
												rgba(255, 255, 255, .625) ~"calc(100% - 2px)",
												transparent ~"calc(100% - 2px)"
											);
			background:		@scrollbar-thumb-background;
		}
	}





#app{
    position:   absolute;
    z-index:    1;
    width:      100%;
    height:     100%;
    // padding-left: @nav-width;
    overflow:   hidden;
}



#nav, #main{
	position:   absolute;
    z-index:    5;
    top:        0;
    bottom:     0;
    overflow:   hidden;

    &,
    & > .background-container{
        transition-duration: .75s;
        transition-timing-function: ease-out;
        transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    }

    & > .wrapper,
    & > .background-container,
    & > .background-container:before{
        position:   absolute;
        z-index:    5;
        top:        0;
        bottom:     0;
        left:       0;
        right:      0;
    }

    & > .background-container,
    & > .background-container:before{
        overflow:   hidden;
    }

    & > .wrapper{
        z-index:    5;
        overflow-x: hidden;
        // overflow-y: auto;
    }

    & > .background-container{
        z-index:    1;
        // background: no-repeat 50% 38.2% / cover;
        // background-attachment: fixed;
    }

    & > .background-container:before{
        content:    "";
        z-index:    5;
    }
}





body.is-ready{
	#boat-loader{
		opacity: 	0;
	}
	// #root{
	// 	display: 	block;
	// }
	#nav, #main{
        &,
        & > .background-container{
		    transform: 	none;
        	transition-delay:    (@base-transition-duration * 3);
        }
	}
}