@import '../../base.less';

.component{
    padding-top:    100px;

    .icon-sample-group{
        display:    flex;
        flex-flow:  row wrap;
    }

    .icon-sample{
        flex:       0 0 auto;
        padding:    1em;
    }
}