@import '../_.less';

.component{
    @color-switchable:  @color-fade;
                // @color:     @theme-yellow-a100;
                // @color:     @color-accent;
    .container{
        display:    flex;
        flex-flow:  row nowrap;
        margin-top: -10px;
    }
    .item{
        flex:       0 1 160px;
        display:    block;
        position:   relative;
        // height:     @ship-link-height;
        min-width:  0;
        padding:    0;
        &:before{
            display:    none;
        }
        &:after{
            display:    none;
        }
        .lvl{
            @height:    25px;
            line-height:@height;
            // font-size:  14px;
            display:    block;
            position:   absolute;
            top:        (0 - @height);
            left:       0;
            color:      #fff;
            &:before{
                content:    "Lv.";
                color:      @color-base;
                font-size:  12px;
                padding-right: .25em;
            }
            .icon{
                display:    block;
                width:      22px;
                height:     22px;
                background: no-repeat 50% 50% / contain;
                float:      right;
                margin-left:2px;
                &.icon-blueprint{
                    background-image: url('../../../../../assets/icons/blueprint.png')
                }
                &.icon-catapult{
                    background-image: url('../../../../../assets/icons/catapult.png')
                }
                &:last-of-type{
                    margin-left: 8px;
                }
            }
        }
        .pic{
            display:    block;
            position:   absolute;
            z-index:    -5;
            top:        0;
            bottom:     0;
            left:       0;
            right:      0;
            opacity:    .5;
            background: no-repeat 100% 50% / cover;
            overflow:   hidden;
            @supports (mask-position: 0% 0%) {
                background-position:    0% 50%;
                mask:   linear-gradient(to left, transparent, transparent 10px, #000 60px, #000) repeat-y 0% 0%;
            }
        }
        .icon-has-extra-illust, .flag-navy{
            left:       auto;
            right:      10px;
            opacity:    .5;
        }

        &.is-need-blueprint{
            .lvl{
                color:      @theme-red-100;
                &:before{
                    color:  fade(@theme-red-100, 50%);
                }
            }
        }
        &.is-need-catapult{
            .lvl{
                color:      @theme-lime-a100;
                &:before{
                    color:  fade(@theme-lime-a100, 65%);
                }
            }
        }
        &.is-need-blueprint.is-need-catapult{
            .lvl{
                color:      @theme-amber-a100;
                &:before{
                    color:  fade(@theme-amber-200, 60%);
                }
            }
        }

        @switchable-gutter: 30px;
        &.is-switchable{
            margin-left:    @switchable-gutter;
        }
            .icon-switchable{
                @size:      24px;
                @color:     @color-switchable;
                fill:       @color;
                position:   absolute;
                top:        50%;
                left:       (0 - @size - (@switchable-gutter - @size) / 2 - 5 );
                width:      @size;
                height:     @size;
                margin-top: (0 - @size / 2);
                filter:     drop-shadow(0 0 5px @color);
                overflow:   visible;
                z-index:    -1;
            }

        &:hover, &.on{
            // .lvl{
            //     color:      #fff;
            //     &:before{
            //         color:      @color-base;
            //     }
            // }
            .pic, .icon-has-extra-illust, .flag-navy{
                opacity:    1;
            }
        }

        &:hover{

        }

        &.on{
            z-index:    -1;
            pointer-events: none;
        }
    }

    .screen-phone({
        @left-space:    100px;
        .container{
            flex-flow:  column wrap;
            margin-top: -50px;
            border-left:@left-space solid transparent;
        }
        .item{
            @size-ratio:0.8;
            flex:       0 0 (@ship-link-height * @size-ratio);
            width:      (@ship-link-width * @size-ratio);
            margin-top: 10px;
            .lvl{
                display:    block;
                position:   absolute;
                width:      @left-space;
                height:     100%;
                left:       (0 - @left-space);
                top:        0;
                text-align: right;
                line-height:(@ship-link-height * @size-ratio);
                padding:    0 10px 0 0;
                font-size:  14px;
                .icon{
                    margin-top:     5px;
                }
            }
            @switchable-gutter: 30px;
            &.is-switchable{
                margin-top:     (10px + @switchable-gutter);
                margin-left:    0;
            }
                .icon-switchable{
                    @size:      24px;
                    top:        (0 - @size - (@switchable-gutter - @size) / 2 - 5);
                    left:       0;
                    margin:     0;
                    transform:  rotate(90deg);
                }

            &.is-has-icon{
                .lvl{
                    line-height:1em;
                    .icon{
                        @size:      18px;
                        position:   absolute;
                        width:      @size;
                        height:     @size;
                        right:      10px;
                        bottom:     0;
                        .icons(@n, @i: 1) when (@i =< @n) {
                            & + .icon {
                                right:  ((@size + 2px) * @i + 10px);
                                .icons(@n, (@i + 1));
                            }
                        }
                        .icons(5);
                    }
                }
            }
        }
    });
}