@import '../_.less';

.component{
    @slot-size:     22px;
    @line-height:   18px;
    @icon-size:     32px;
    @gutter:        14px;

    // margin-top:     (0 - @gutter);

    .item{
        display:    block;
        margin:     0;
        padding:    0;
        margin-top: @gutter;
        position:   relative;
        line-height:@slot-size;
        border-radius: (@slot-size / 2);
        &.disabled{
            opacity:.25;
        }
    }
        .slot{
            position:   absolute;
            top:        50%;
            left:       0;
            width:      (@slot-size + 10);
            height:     @slot-size;
            line-height:@slot-size;
            margin-top: (0 - @slot-size / 2);
            font-size:  14px;
            text-align: center;
            display:    inline-block;
            color:      fade(@color-background, 50%);
            font-weight:600;
            padding:    0 0 0 4px;
            // background: @color-fade;
            // border-radius: (@slot-size / 2) 0 0 (@slot-size / 2);
            border-right: 10px solid transparent;
            z-index:    2;
        }
        .equipment{
            // line-height:@line-height;
            // padding:    ((@slot-size - @line-height) / 2) 0 ((@slot-size - @line-height) / 2) (@icon-size + 4);
            padding-left:(@icon-size + @slot-size + 4);
            margin:     0;
            display:    inline-block;
            // position:   relative;
            // z-index:    1;
            @color2:    fade(@color-theme, 50%);
            @position1: (@slot-size + @icon-size / 2);
            @position2: (@slot-size + @icon-size) * 2;
            background: linear-gradient(to right, @color-fade, @color-fade @position1, @color2 @position1);
            border-radius: (@slot-size / 2);
            // border-radius: (@slot-size / 2) 0 0 (@slot-size / 2);
            // min-width:  @position2;
            padding-right:  .75em;
            font-size:      14px;
            .icon{
                width:      @icon-size;
                height:     @icon-size;
                position:   absolute;
                top:        50%;
                // margin-top: (0 - (@icon-size - @line-height) / 2);
                margin-top: (0 - @icon-size / 2);
                left:       @slot-size;
                background-color: @color-theme;
                border-radius: 50%;
                border:     1px solid @color-fade;
                z-index:    10;
            }
        }
}