@import './_.less';

.component {
    padding:    0 @gutter-right 0 0;

    .subtitle, .link{
        padding-left: @span-left;
        position: relative;
    }
    .subtitle{
        display: inline-block;
        font-size: 14px;
        line-height: 28px;
        margin-top: 16px;
        font-style: italic;
        letter-spacing: .1em;
        cursor: default;
        // color: hsl(26, 95%, 82.5%);
        // color: @theme-bluegrey-50;
        // text-shadow: 1px 1px 1px fade(#fff, 35%);
        // color: @theme-bluegrey-200;
        // text-shadow: 1px 1px 1px fade(#000, 35%);
        color: #fff;
        text-shadow: 0 0 5px fade(#fff, 75%);
        // &::before, &::after{
        //     content: "";
        //     position: absolute;
        //     top: 50%;
        //     height: 1px;
        //     background: @color-border;
        // }
        // &::before{
        //     @left: 0;
        //     // right: 100%;
        //     // left: (0 - @span-left);
        //     left: @left;
        //     width: (@span-left - @left - 6);
        // }
        // &::after{
        //     content: "";
        //     left: 100%;
        //     right: (0 - @nav-width);
        //     margin-left: 6px;
        // }
        .screen-tablet({
            margin-top: 24px;
            line-height: 32px;
            // margin-left: -1em;
            font-style: normal;
            color: @theme-bluegrey-400;
        });
    }
    .link{
        .nav-link();
        display: block;
        // line-height:1.35em;
        &.on{
            color:  #fff;
            &:before{
                @size:      8px;
                .nav-link-symbol(@size);
                margin-top: -1px;
                content:    '';
                position:   absolute;
                left:       20px;
                width:      @size;
                height:     @size;
                background: @theme-bluegrey-100;
                border-radius: 50%;
                animation:  fadein @base-transition-duration @base-transition-timing-function;
                .screen-tablet({
                    content: none;
                });
            }
        }
        &.is-indev,
        &.is-wip{
            &:after{
                content:    "";
                position:   absolute;
                left:       0;
                top:        0;
                bottom:     0;
                width:      80px;
                z-index:    -1;
            }
        }
        &.is-indev{
            // &:after{
            //     content:    "DEV";
            //     font-size:  12px;
            //     position:   absolute;
            //     z-index:    -1;
            //     line-height:1.2em;
            //     padding:    0 .25em;
            //     border-radius:0.6em;

            //     color:      #000;
            //     background: @theme-red-900;

            //     top:        0;
            //     left:       15px;

            //     transform:  scale((8 / 12)) rotate(-15deg);
            //     transform-origin: 0% 0%;
            // }
            &:after{
                @color:     @theme-red-a400;
                background: linear-gradient(to right, fade(@color, 50%), @ease-out-sine, fade(@color, 0%));
            }
        }
        &.is-wip{
            &:after{
                @color:     @theme-blue-a700;
                background: linear-gradient(to right, fade(@color, 50%), @ease-out-sine, fade(@color, 0%));
            }
        }
    }

    .blank{
        display:    block;
        height:     15px;
    }

    .screen-tablet({
        padding-right: 0;
    });
}
