@import './_.less';

.component{
    .mainframe();

    position:   fixed;
    z-index:    5;
    left:       0;
    top:        0;
    height:     100%;
    width:      @nav-width;
    transition-property: transform;

    transform:  translate(-100%, 0%);
    .is-mode-background({
        transform:  translate(-100%, 0%);
    });
    .screen-tablet({
        transform:      translate(0%, -100%);
        .is-mode-background({
            transform:  translate(0%, -100%);
        });
    });

    #nav-switch,
    // .appbar,
    label[for="nav-switch"]{
        display:    none;
    }

    & > .wrapper{
        position:   absolute;
        z-index:    5;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-flow: column nowrap;
        // padding-bottom: 25px;
        padding-bottom: 10px;
        transition-property: transform;
        overscroll-behavior-y: contain;
        & > .top, & > .bot {
            flex: 0 0 auto;
        }
        & > .mid {
            flex: 1;
        }
        & > .bot{
            margin-top: 40px;
        }
    }

    &:before, &:after{
        content:    '';
        position:   absolute;
        top:        0;
        bottom:     0;
        right:      0;
        pointer-events: none;
        .screen-tablet({
            content: none;
        });
    }
    &:before{
        z-index:    10;
        width:      1px;
        background: @theme-bluegrey-50;
        background: fade(@theme-bluegrey-50, 10%);
    }
    &:after{
        z-index:    9;
        width:      @size-block-shadow;
        background: linear-gradient(to left, fade(#000, 20%), @ease-out-sine, fade(#000, 0%));
        opacity:    0;
        transition: inherit;
        .is-ready({
            opacity:    1;
        });
        .is-mode-background({
            opacity:    0;
        });
    }

    .logo{
        @size:      48px;

        height:     90px;
        position:   relative;
        border-left:20px solid transparent;

        .screen-tablet({
            border-left-width: @span-left;
        });

        .btn-back, .btn-home-logo{
            position:   absolute;
            top:        50%;
            margin-top: (0 - @size / 2);
            height:     @size;
            width:      @size;
            text-align: center;
            background: no-repeat 50% 50% / contain;
        }

        .btn-back{
            z-index:    1;
        }

        .btn-home-logo{
            z-index:    2;
            background-image: url('~Assets/appicon.png');
            .is-hover({
                filter: brightness(1.2);
                &:active{
                    filter: brightness(0.8);
                }
            });
            &:active{
                filter: brightness(0.8);
            }
            &.on{
                pointer-events: none;
            }
            .title{
                color: transparent;
                z-index: -1;
            }
        }

        .channel{
            position:   absolute;
            top:        50%;
            left:       (@size + 10px);
            margin-top: (0 - @size * 0.55);
            height:     @size;
            line-height:@size;
            font-style: italic;
            font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
            font-size:  1.4rem;
            // transform:  skewY(-5deg);
            .screen-t1_to_tablet({
                left: (@size + 2px);
                font-size: 1.2rem;
                letter-spacing: -.05em;
            });
        }
            .channel-yuubari{
                color:  hsl(26, 95%, 82.5%);
                text-shadow: 0 0 2px fade(#000, 75%);
                &:after{
                    content:    'the Fleet dev channel';
                    position:   absolute;
                    right:      0;
                    bottom:     -.2em;
                    line-height:1em;
                    font-size:  12px;
                    opacity:    .85;
                    white-space: nowrap;
                    letter-spacing: 0;
                    .screen-t1_to_tablet({
                        content: 'the Fleet dev';
                    });
                    .screen-tablet({
                        right: auto;
                        left: 0;
                    });
                }
            }

        .btn-back{
            & ~ .btn-home-logo{
                transform:  translateX((@size + 15));
            }

            &[disabled]{
                opacity:    0;
                & ~ .btn-home-logo{
                    transform:  none;
                }
            }
        }
    }

    &.is-loading{
        .btn-home-logo{
            animation:  opacity-pulse 2s ease-in-out infinite;
            @keyframes  opacity-pulse{
                0%, 5%{
                    opacity:    1;
                }
                50%{
                    opacity:    0;
                }
                95%, 100%{
                    opacity:    1;
                }
            }
        }
        // &:after{
        //     content:    "";
        //     position:   absolute;
        //     z-index:    10;
        //     pointer-events: none;
        //     right:      0;
        //     top:        0;
        //     background: radial-gradient(ellipse farthest-side at 100% 50%, fade(@theme-bluegrey-50, 90%), transparent);
        //     height:     33.3333%;
        //     width:      10px;
        //     opacity:    0;
        //     animation:  nav-ray-moving 4s linear infinite;
        //     @keyframes  nav-ray-moving{
        //         0%, 10%{
        //             opacity:    1;
        //             transform:  translate(100%, 0%);
        //         }
        //         30%{
        //             opacity:    1;
        //             transform:  translate(0%, 50%);
        //         }
        //         50%{
        //             opacity:    1;
        //             transform:  translate(0%, 100%);
        //         }
        //         90%, 100%{
        //             opacity:    0;
        //             transform:  translate(100%, 200%);
        //         }
        //     }
        // }
    }

    .screen-t1({
        width:      @nav-width-t1;
    });

    .screen-tablet({
        height:     @nav-height-tablet;
        width:      100%;
        overflow:   visible;
        color:      #fff;

        & > .wrapper{
            width:      320px;
            width:      ~"calc(100% - 60px)";
            height:     100vh;
            max-width:  320px;
            transform:  translateX(-100%);
            z-index:    10;
            background: @color-theme;
            border-right: 1px solid darken(@color-theme, 2.5%);
        }

        label[for="nav-switch"]{
            @size:      40px;

            display:    inline;
            position:   static;

            // &:before{
            //     content:    "☰";
            //     position:   absolute;
            //     z-index:    5;
            //     top:        0;
            //     left:       14px;
            //     width:      @size;
            //     height:     @nav-height-tablet;
            //     line-height:@nav-height-tablet;
            //     text-align: center;
            //     // background: #800;
            //     color:      inherit;
            //     font-size:  24px;
            // }
            .icon{
                display:    block;
                position:   absolute;
                z-index:    5;
                top:        0;
                left:       14px;
                width:      @size;
                height:     @nav-height-tablet;
                text-align: center;
                padding-top:((@nav-height-tablet - @button-menu-size) / 2);
                .icon-menu{
                    width:  @button-menu-size;
                    height: @button-menu-size;
                }
            }

            &:after{
                content:    "";
                position:   fixed;
                z-index:    5;
                top:        0;
                left:       0;
                width:      100%;
                height:     100%;
                background: fade(#000, 50%);
                opacity:    0;
                pointer-events: none;
            }
        }

        #nav-switch:checked{
            & ~ .wrapper{
                transform:  none;
            }
            & ~ label[for="nav-switch"]{
                &:after{
                    opacity:    1;
                    pointer-events: all;
                }
            }
        }
    });

    .screen-phone({
        height:     @nav-height-phone;

        label[for="nav-switch"]{
            // &:before{
            .icon{
                left:       5px;
                height:     @nav-height-phone;
                padding-top:((@nav-height-phone - @button-menu-size) / 2);
            }
        }
    });
    
    // .screen-phone-small({
    //     .appbar{
    //         padding-left: 50px;
    //     }
    // });
}
