@import "~base.less";

.component.special-attack{
    & > .wrapper{
        display: flex;
        flex-flow: row nowrap;
        & > .description,
        & > .image{
            flex: 1 1 50%;
        }
    }
}
