@import "~base.less";

.component.special-attack{
    & > .wrapper{
        display: flex;
        flex-flow: row nowrap;
        & > .description,
        & > .image{
            flex: 1 0 50%;
        }
    }

    .img{
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }
}
