@import '../base.less';

#nav, #main, #bgimg .background-main-blured{
    overflow:   hidden;

    & > .wrapper{
        z-index:    5;
        position:   relative;
    }

    &,
    .background-container{
        transition-duration: .75s;
        transition-timing-function: ease-out;
        transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    }

    .background-container,
    .background-container:before{
        position:   absolute;
        z-index:    5;
        top:        0;
        left:       0;
        right:      0;
        overflow:   hidden;
    }

    .background-container{
        z-index:    1;
        height:     100vh;
        .background{
            width:  100vw;
            background-attachment: initial;
        }
    }

    .background-container:before{
        content:    "";
        z-index:    5;
        bottom:     0;
    }
}





body.is-ready{
	#boat-loader{
		opacity: 	0;
	}
	#nav, #main, #bgimg .background-main-blured{
        &,
        .background-container{
		    transform: 	none;
        	transition-delay:    (@base-transition-duration * 3);
        }
	}
}