@import '~base.less';

.component {
    font-size: 14px;
    line-height: @equipmenticon-size;

    .row {
        display: flex;
        flex-flow: row nowrap;
        & + .row {
            border-top: 1px solid @color-border;
        }
    }
    dl.row {
        padding: 0;
        margin: 0;
        // &.row-aaci {
        //     padding-top: 5px;
        //     padding-bottom: 5px;
        // }
    }

    .cell {
        display: block;
        flex: 0 0 34px;
        &[data-cell-type='equipments'] {
            flex-grow: 9;
            flex-basis: 150px;
            color: @theme-grey-50;
            line-height: 1.2em;
            padding-top: 5px;
            padding-bottom: 5px;
            .equipment {
                // min-height: @equipmenticon-size;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: (@link-equipment-padding-left + 4);
                .icon {
                    top: 0;
                }
                sup {
                    font-size: 12px;
                    color: @color-positive;
                    display: inline-block;
                    margin-left: 5px;
                    top: -1px;
                    &::before {
                        content: '[';
                        padding-right: 2px;
                    }
                    &::after {
                        content: ']';
                        padding-left: 2px;
                    }
                }
            }
        }
        &[data-cell-type='fixed'],
        &[data-cell-type='modifier'] {
            flex-grow: 3;
            flex-basis: 30px;
        }
    }
    dt.cell,
    dd.cell {
        padding: 0;
        margin: 0;
    }

    .equipment {
        display: block;
    }
}
