@import "~base.less";

.component{
    .link-today{
        margin-right: 5px;
        &:after{
            content:    "";
            position:   absolute;
            top:        50%;
            right:      -15px;
            width:      1px;
            height:     30px;
            margin-top: -15px;
            transform:  skew(-20deg) scale(2, 1);
            transform-origin: 50% 50%;
            background: @color-border-2;
        }
    }
    .link-day{
        min-width:  25px;
        margin-right:-15px;
        &.is-today{
            border-bottom-color: @color-fade;
        }
    }
    .link-day + .link-all{
        left:   25px;
    }

    .screen-phone-small({
        .link-today{
            display:    none;
            & + .link-day{
                margin-left: 0;
            }
        }
    });
}