@import '~base.less';

.component-bonuses{
}

.component-list{
    margin-top: 20px;

    .component-bonus + .component-bonus{
        margin-top: 20px;
    }

    &.mod-gird{
        @supports (display: grid) {
            display: grid;
            grid-gap: 30px 20px;
            .component-bonus + .component-bonus{
                margin-top: 0;
            }
        }
        .grid-column-width(@column-width){
            grid-template-columns: repeat(auto-fill, minmax(@column-width, 1fr) );
            @media all and (max-width: (@column-width + @main-margin-phone * 2)){
                grid-template-columns: 100%;
            }
        }
        &.is-ship{
            .grid-column-width(350px);
        }
        &.is-equipment{
            .grid-column-width(600px);
        }
    }

    &.is-single{

    }

    &.is-set{
        
    }
}

.component-bonus{
    @size-icon: 32px;
    @gutter-stats: 16px;
    @condition-base-height: 24px;

    .condition{
        font-size: 16px;
        line-height: 20px;
        color: @color-alt;

        & > .at,
        & > .exclude{
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: @size-icon;
            position: relative;
            &::before{
                position: absolute;
                top: 0;
                left: 0;
                line-height: @condition-base-height;
                width: (@size-icon - 4);
                text-align: center;
                z-index: -1;
            }
            &.is-ship-list{
                margin-bottom: 2px;
                .item{
                    font-size: inherit;
                }
                &::before{
                    margin-top: 5px;
                }
            }
        }

        & > .at{
            &::before{
                content: "@";
                color: @color-positive;
                font-size: 16px;
                font-weight: bolder;
                font-style: italic;
            }
        }

        & > .exclude{
            z-index: -1;
            color: @color-fade;
            font-size: 14px;
            &::before{
                content: "×";
                font-size: 24px;
                padding-top: 1px;
            }
            &.is-ship-list{
                .item{
                    color: inherit;
                }
                .avatar{
                    opacity: .75;
                    filter: grayscale(100%) brightness(0.75);
                }
            }
        }

        & > .at + .exclude{
            &.is-ship-list{
                &::before{
                    margin-top: 7px;
                }
            }
        }

        .item{
            display: inline-block;
            white-space: nowrap;
        }
        .mod-need-sep{
            .item + .item::before{
                content: "/";
                display: inline-block;
                margin: 0 6px 0 8px;
                z-index: -1;
                color: @color-base-dimmed;
            }
        }
    }

    .infos{
        padding-left: @size-icon;
        color: @color-fade;
        font-size: 14px;
        line-height: 16px;
        padding: 3px 0 3px @size-icon;
    }

    .stats{
        position: relative;
        font-size: 14px;
        padding-left: (@size-icon - @gutter-stats);
        line-height: 20px;
        .stat{
            float: left;
            margin-left: @gutter-stats;
            .type{
                color: @color-main;
                margin-right: 4px;
            }
            .type ~ .value{
                color: @color-positive;
                font-size: 16px;
                position: relative;
                top: 1px;
            }
            &.negative .value{
                color: @color-negative;
            }
        }
        &::after{
            content: "";
            display: block;
            clear: both;
            height: 0;
            overflow: hidden;
        }
    }

    .stats-line{
        clear: both;
    }

    .stats-has-extra{
        @base-margin-right: (0 - @size-icon + @gutter-stats - 6);
        .extra{
            position: absolute;
            text-align: right;
            right: 100%;
            margin-right: @base-margin-right;
            line-height: 22px;
            white-space: nowrap;
            &::before{
                position: absolute;
                top: 50%;
                line-height: 0;
                right: 100%;
                margin-right: 2px;
            }
        }
        .extra-type-count{
            color: @color-main;
            &::before{
                content: '×';
            }
        }
        .extra-type-star{
            color: @color-improvement-star;
            &::before{
                content: '★';
            }
            &[data-star="0"]{
                color: @color-fade;
            }
            &[data-star="10"]{
                color: transparent;
                &::before{
                    content: "";
                    background: url(~Assets/improve-max.svg) no-repeat 100% 50%;
                    background-size: contain;
                    height: 100%;
                    width: 26px;
                    top: 0;
                    right: -2px;
                    margin: 0;
                }
            }
        }
        .extra-type-area{
            color: @color-main-dimmed;
            font-size: 12px;
            background: @color-border;
            border: 1px solid @color-fade;
            padding: 0 3px;
            border-radius: 3px;
            margin-right: (@base-margin-right - 4);
        }
    }
}
