@import '../base.less';

.component{
    position:       relative;
    z-index:        2;
    min-height:     100vh;

    // animation:  slidein-from-right .75s ease-out;
    transform:      translateX(100%);

    & > .wrapper{
        position:   relative;
        z-index:    5;
        border-top:     10px solid transparent;
        border-right:   30px solid transparent;
        border-bottom:  30px solid transparent;
        border-left:    30px solid transparent;
    }

    .main-transition-enter, .main-transition-leave{
        position:   absolute;
        top:        0;

        transition-property: opacity, transform;
    }

    .main-transition-enter {
        opacity:    0.01;
        transform:  translateX(-2rem);

        &.main-transition-enter-active {
            opacity:    1;
            transform:  none;
            transition-duration: 200ms;
            // transition-timing-function: ease-in;
        }
    }    

    .main-transition-leave {
        opacity:    1;
        transform:  none;

        &.main-transition-leave-active {
            opacity:    0.01;
            transform:  translateX(2rem);
            transition-duration: 200ms;
            // transition-timing-function: ease-in;
        }
    }
}
