@import '../_core-less/_include.less';

#app{
    position:   relative;
    z-index:    1;
    width:      100%;
    width:      100vw;
    min-height: 100%;
    min-height: 100vh;
    padding-left: @nav-width;

    overflow-x: hidden;
}
