@import '../_core-less/_include.less';

#main{
    position:   relative;
    padding:    10px 30px 30px 30px;
    background: @theme-bluegrey-900;
    background: fade(@theme-bluegrey-900, 70%);
    min-height: 100%;
    min-height: 100vh;

    animation:  slidein-from-right .75s ease-out;
}
